body {
    font-family: 'MinhaFonte', sans-serif;
    background-color: #fff5ea;
    color: #333;
    overflow-x: hidden;
}

@font-face {
    font-family:'MinhaFonte';
    src: url(Urbanist-Thin.ttf);
  }

.line-1,
.line-1 * {
  box-sizing: border-box;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: relative;
  transform: rotate(-180deg) scale(2, 1);
}

.line-2,
.line-2 * {
  box-sizing: border-box;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 120px;
  position: relative;
  transform: rotate(-180deg) scale(2, 1);
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    font-size: 20px;
}

.nav a {
    text-decoration: none; 
    color: inherit; 
    outline: none; 
}

.nav a:focus, .nav a:active {
    outline: none; 
}

.nav h4 {
    margin: 5 0 0 20px;
    padding: 0 105px;
    cursor: pointer;
    color: #333; /* Cor do texto do link */
}

.nav h4:hover {
    color: #000; /* Cor do texto ao passar o mouse */
}

h1 {
    font-size: 100px;
    padding: 100px;
    line-height: 1.5; 
    margin-top: -20px;
}

h2 {
    font-size: 30px;
    padding: 100px;
    margin-top: -200px;
}

.logo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 20px;
    top: -20px;
  }

p {
    font-size: 30px;
    padding: 100px;
    margin-top: -200px;
}